@import url('https://fonts.googleapis.com/css?family=Montserrat');


:root {
  --main-accent-color: #FFA640;
  --second-accent-color: #002C71;
  --third-accent-color: #8298B9;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
